
<div class="col col-lg-4">
<%= form_with(model: downtime, local: true) do |form| %>
  <% if downtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(downtime.errors.count, "error") %> prohibited this downtime from being saved:</h2>

      <ul>
        <% downtime.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, {}, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :shift %>
    <%= form.select :shift, @downtime_criteria.pluck(:shift).uniq.unshift(" ").uniq.reject { |x| x.nil? || x == ""  }, {:selected => params[:shift]}, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.select :area, @downtime_criteria.pluck(:area).uniq.unshift(" ").uniq.reject { |x| x.nil? || x == ""  }, {:selected => params[:area]}, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :line %>
    <%= form.select :line, @downtime_criteria.pluck(:line).uniq.unshift(" ").uniq.reject { |x| x.nil? || x == ""  }, {:selected => params[:line]}, :class => "form-control" %>  </div>

  <div class="field">
    <%= form.label :equipment %>
    <%= form.select :equipment, @downtime_criteria.pluck(:equipment).unshift(" ").uniq.uniq.reject { |x| x.nil? || x == ""  }, {:selected => params[:equipment]}, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.text_field :start_time, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :stop_time %>
    <%= form.text_field :stop_time, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :downtime %>
    <%= form.number_field :downtime, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :reason_code %>
    <%= form.select :reason_code, @downtime_criteria.pluck(:reason_code).uniq.unshift(" ").uniq.reject { |x| x.nil? || x == ""  }, {:selected => params[:reason_code]}, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, :class => "form-control" %>
  </div><br>

  <div class="btn btn-primary">
    <%= form.submit 'Add Downtime Entry', :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
