<%= javascript_pack_tag 'actionitems' %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <h1><%= link_to "Downtime Log", downtimes_path %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Shift</th>
      <th scope="col">Area</th>
      <th scope="col">Line</th>
      <th scope="col">Equipment</th>
      <th scope="col">Start time</th>
      <th scope="col">Stop time</th>
      <th scope="col">Downtime</th>
      <th scope="col">Reason code</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @downtimes.each do |downtime| %>
      <tr data-link="<%= downtime_path(downtime) %>" style="cursor:pointer;">
        <td><%= downtime.date %></td>
        <td><%= downtime.shift %></td>
        <td><%= downtime.area %></td>
        <td><%= downtime.line %></td>
        <td><%= downtime.equipment %></td>
        <td><%= downtime.start_time %></td>
        <td><%= downtime.stop_time %></td>
        <td><%= downtime.downtime %></td>
        <td><%= downtime.reason_code %></td>
        <td><%= downtime.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Downtime', new_downtime_path %>
