<%= javascript_pack_tag 'actionitems' %>



<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <table>
    <tr>
      <td>
<%= column_chart @downtime_chart_data, width: "500px", height: "300px", xtitle: "Date", ytitle: "Downtime Minutes", suffix: " mins" %>
      </td>
      <td>
<%= column_chart @downtime_pareto_by_min, width: "500px", height: "300px", xtitle: "Reason Code", ytitle: "Pareto Minutes", suffix: " mins" %>
      </td>
      <td>
<%= column_chart @downtime_pareto_by_count, width: "500px", height: "300px", xtitle: "Reason Code", ytitle: "Pareto Occurences", suffix: " occurences" %>
      </td>
    </tr>
  </table>
</div>

<div class="container-fluid">
    <h1><%= link_to "Downtime Log", downtimes_path %></h1>

<div class="container-fluid">
  <%= form_with(model: @downtime, local: true, method: "GET") do |form| %>
  <div class="row form-group align-items-end">
    <div class="col">
      <%= form.label :date %><br>
      <%= form.select :date, Downtime.all.pluck(:date).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :shift %><br>
      <%= form.select :shift, Downtime.all.pluck(:shift).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :area %><br>
      <%= form.select :area, Downtime.all.pluck(:area).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :line %><br>
      <%= form.select :line, Downtime.all.pluck(:line).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :equipment %><br>
      <%= form.select :equipment, Downtime.all.pluck(:equipment).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :reason_code %><br>
      <%= form.select :reason_code, Downtime.all.pluck(:reason_code).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.submit 'Filter', :class => 'btn btn-primary form-control' %>
      <% end %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Shift</th>
      <th scope="col">Area</th>
      <th scope="col">Line</th>
      <th scope="col">Equipment</th>
      <th scope="col">Start time</th>
      <th scope="col">Stop time</th>
      <th scope="col">Downtime</th>
      <th scope="col">Reason code</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @downtimes.each do |downtime| %>
      <tr data-link="<%= downtime_path(downtime) %>" style="cursor:pointer;">
        <td><%= downtime.date %></td>
        <td><%= downtime.shift %></td>
        <td><%= downtime.area %></td>
        <td><%= downtime.line %></td>
        <td><%= downtime.equipment %></td>
        <td><%= downtime.start_time %></td>
        <td><%= downtime.stop_time %></td>
        <td><%= downtime.downtime %></td>
        <td><%= downtime.reason_code %></td>
        <td><%= downtime.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @downtimes %>

<%= link_to 'New Downtime', new_downtime_path %>
