
<h4>Commenting as <%= current_user.email %></h4>

<%= form_with(model: [ @actionitem, @actionitem.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control" %>
  </p>
  <p>
    <%= form.submit 'Post Comment', :class => 'btn btn-primary' %>
  </p>
  <% end %>
