<h1>New Production Run</h1>


<%= form_with scope: :productionrun, url: production_runs_path, local: true do |form| %> 

  <p>
    <%= form.label :date %><br>
    <%= select_date Date.today, {prefix: :date}, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :line %><br>
    <%= form.text_field :line, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :shift %><br>
    <%= form.text_field :shift, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :supervisor %><br>
    <%= form.text_field :supervisor, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :lead %><br>
    <%= form.text_field :lead, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :operator %><br>
    <%= form.text_field :operator, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :starttime %><br>
    <%= select_time Time.now, {prefix: :starttime}, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :stoptime %><br>
    <%= select_time Time.now, {prefix: :stoptime}, :class => 'form-control' %>
  </p>

  <p>
    <%= form.submit 'Create Production Run', :class => 'btn btn-primary' %>
  </p>
  <% end %>

<%= link_to 'Back', production_runs_path %> 

</div>
