
<p>
  <strong>Date:</strong>
  <%= @productionrun.date %>
</p>

<p>
  <strong>Line:</strong>
  <%= @productionrun.line %>
</p>
 
<p>
  <strong>Shift:</strong>
  <%= @productionrun.shift %>
</p>
 
<p>
  <strong>Supervisor:</strong>
  <%= @productionrun.supervisor %>
</p>
 
<p>
  <strong>Lead:</strong>
  <%= @productionrun.lead %>
</p>
 
<p>
  <strong>Operator:</strong>
  <%= @productionrun.operator %>
</p>
 
<p>
  <strong>Start Time:</strong>
  <%= @productionrun.start_time %>
</p>

<p>
  <strong>Stop Time:</strong>
  <%= @productionrun.stop_time %>
</p>