<%= javascript_pack_tag 'actionitems' %>

<div class="container-fluid">
  <div class="col-sm-8">
    <h1><%= link_to "Production Runs", production_runs_path %></h1>
  </div>
</div>

<div class="col">
<div class="card bg-light border-dark">
  <div class="card-header">
   <h2> Production Run Info </h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="row">
      <div class="col">
        <h4>Date</h4>
        <%= @productionrun.date.strftime("%-m/%-d") %><br><br>
        <h4>Shift</h4>
        <%= @productionrun.shift %><br>
      </div>
      <div class="col">
        <h4>Area</h4>
        <%= @productionrun.area %><br><br>
        <h4>Line</h4>
        <%= @productionrun.line %><br>
      </div>
      <div class="col">
        <h4>Supervisor</h4>
        <%= @productionrun.supervisor %><br><br>
        <h4>Lead</h4>
        <%= @productionrun.lead %><br><br>
      </div>
      <div class="col">
        <h4>Start Time</h4>
        <%= @productionrun.start_time[0..1]%>:<%= @productionrun.start_time[2..3]%><br><br><br>
        <%= link_to fa_icon("pencil 2x"), edit_production_run_path(@productionrun), style: 'color:#00cc44;' %>
      </div>
      <div class="col">
        <h4>Stop Time</h4>
        <%= @productionrun.stop_time[0..1]%>:<%= @productionrun.stop_time[2..3]%><br><br><br>
        <%= link_to fa_icon("trash 2x"), production_run_path(@productionrun), method: :delete, style: 'color:#ff4800;', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    </p>
  </div>
</div>
</div>

<br>

<div class="container-fluid">
<h2>Production Hours</h2>
<div class="card bg-light border-dark">
  <div class="card-body">
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Hour</th>
      <th scope="col">Product</th>
      <th scope="col">Plan Throughput</th>
      <th scope="col">Actual Throughput</th>
      <th scope="col">Attainment</th>
      <th scope="col">Plan Labor</th>
      <th scope="col">Actual Labor</th>
      <th scope="col">Plan Efficiency</th>
      <th scope="col">Actual Efficiency</th>
      <th scope="col">Attainment</th>
      <th scope="col">Downtime</th>
      <th scope="col">Waste</th>
      <th scope="col">Rework</th>
      <th scope="col">Yield</th>     
    </tr>

  </thead>
  <tbody>
    <% @hour_calculations.each do |data| %>
    <tr data-link="<%= edit_production_run_production_hour_path(@productionrun.id, data[:id]) %>" style="cursor:pointer;">
      <td><%= data[:hour] %></td>
      <td><%= data[:product] %></td>
      <td><%= data[:plan_throughput] %></td>
      <td><%= data[:actual_throughput] %></td>
      <td><%= data[:tp_attainment] %>%</td>
      <td><%= data[:plan_labor] %></td>
      <td><%= data[:actual_labor] %></td>
      <td><%= data[:plan_efficiency] %></td>
      <td><%= data[:actual_efficiency] %></td>
      <td><%= data[:eff_attainment] %>%</td>
      <td><%= data[:downtime] %></td>
      <td><%= data[:waste] %></td>
      <td><%= data[:rework] %></td>
      <td><%= data[:yield] %>%</td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>
<h2> Production Run Summary </h2>
<div class="card bg-light border-dark">
  <div class="card-body">
<div>
  <div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Plan Throughput</th>
        <th scope="col">Actual Throughput</th>
        <th scope="col">Attainment</th>
        <th scope="col">Plan Labor</th>
        <th scope="col">Actual Labor</th>
        <th scope="col">Plan Efficiency</th>
        <th scope="col">Actual Efficiency</th>
        <th scope="col">Attainment</th>
        <th scope="col">Downtime</th>
        <th scope="col">Waste</th>
        <th scope="col">Rework</th>
        <th scope="col">Yield</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @total_calculations.each do |data| %>
        <td><%= data %></td>
        <% end %>
      </tr>
  </tbody>
  </table>
</div>
</div>
</div>
</div>
<br>


<div class="container-fluid">
  <div class="col col-md-3">
<h2>Add a Production Hour:</h2>
<%= form_with(model: [@productionrun, @productionrun.production_hours.build], local: true) do |form| %>

  <p>
    <%= form.label :hour %><br>
    <%= form.text_field :hour, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :product %><br>
    <%= form.text_field :product, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :plan_throughput %><br>
    <%= form.text_field :plan_throughput, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :actual_throughput %><br>
    <%= form.text_field :actual_throughput, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :plan_labor %><br>
    <%= form.text_field :plan_labor, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :actual_labor %><br>
    <%= form.text_field :actual_labor, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :downtime %><br>
    <%= form.text_field :downtime, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :waste %><br>
    <%= form.text_field :waste, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :rework %><br>
    <%= form.text_field :rework, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :yield %><br>
    <%= form.text_field :yield, :class => "form-control" %>
  </p>

  <p>
    <%= form.submit 'Add Production Hour', :class => 'btn btn-primary' %>
  </p>
 <% end %>


<%= link_to 'Edit', edit_production_run_path(@productionrun) %> |
<%= link_to 'Back', production_runs_path %>
</div>
</div