<div class="container-fluid">
<h1><%= link_to "Production Run: #{@productionrun.id}", production_run_path(@productionrun) %></h1>
</div>
<div class="container">

<h2>Edit Production Hour</h2>

<%= form_with(model: [@productionrun, @production_hour], local: true) do |form| %> 

  <% if @production_hour.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@production_hour.errors.count, "error") %> prohibited this production run from being saved:
      </h2>
      <ul>
        <% @production_hour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= form.label :hour %><br>
    <%= form.text_field :hour, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :product %><br>
    <%= form.text_field :product, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :plan_throughput %><br>
    <%= form.text_field :plan_throughput, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :actual_throughput %><br>
    <%= form.text_field :actual_throughput, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :plan_labor %><br>
    <%= form.text_field :plan_labor, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :actual_labor %><br>
    <%= form.text_field :actual_labor, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :downtime %><br>
    <%= form.text_field :downtime, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :waste %><br>
    <%= form.text_field :waste, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :rework %><br>
    <%= form.text_field :rework, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :yield %><br>
    <%= form.text_field :yield, :class => "form-control" %>
  </p>

  <p>
    <%= form.submit 'Change Production Data', :class => 'btn btn-primary' %>
  </p>
 <% end %>


<%= link_to 'Edit', edit_production_run_path(@productionrun) %> |
<%= link_to 'Back', production_runs_path %>

</div>
