<%= form_with(model: downtime_criterium, local: true) do |form| %>
  <% if downtime_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(downtime_criterium.errors.count, "error") %> prohibited this downtime_criterium from being saved:</h2>

      <ul>
        <% downtime_criterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shift %>
    <%= form.text_field :shift %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :line %>
    <%= form.text_field :line %>
  </div>

  <div class="field">
    <%= form.label :equipment %>
    <%= form.text_field :equipment %>
  </div>

  <div class="field">
    <%= form.label :reason_code %>
    <%= form.text_field :reason_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
