<h1>ActiveAction</h1>
<%= link_to 'Action Item Log', controller: 'actionitems' %><br>
<%= link_to 'Daily Schedule Control', controller: 'production_runs' %><br>
<%= link_to 'Start-up Scorecard'%><br>
<%= link_to 'Downtime Log'%><br>
<%= link_to 'Pareto Charts'%><br>
<%= link_to 'Daily Weekly Operating Report'%>