<h1>Edit Action</h1>

<%= form_with(model: @actionitem, local: true) do |form| %>
  
  <% if @actionitem.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@actionitem.errors.count, "error") %>
        prohibited this action item from being saved:
      </h2>
      <ul>
        <% @actionitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <p>
    <%= form.label :focus %><br>
    <%= form.text_field :focus %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :owner %><br>
    <%= form.text_field :owner %>
  </p>

  <p>
    <%= form.label :resources %><br>
    <%= form.text_area :resources %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['Open', 'In Progress', 'Review', 'Completed'] %>
  </p>

  <p>
    <%= form.label :updates %><br>
    <%= form.text_area :updates %>
  </p>
  
  <p>
    <%= form.label :completion %><br>
    <%= select_date nil, include_blank: true, prefix: :completion %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <% end %>

<%= link_to 'Back', actionitems_path %> 