<%= javascript_pack_tag 'actionitems' %>

<div class="container-fluid">
      <%= button_to "#{@past_due} Action Items past due", actionitems_path, method: :get, params: { id: @past_due_ids }, :class => "btn btn-danger float-right" %>
    <h1><%= link_to "Action Items", actionitems_path %></h1>

    <h1><%= @past_due_actions %></h1>
    

<div class="container-fluid">
  <%= form_with(model: @actionitem, local: true, method: "GET") do |form| %>
  <div class="row form-group align-items-end ">
    <div class="col">
      <%= form.label :focus %><br>
      <% default = params[:focus].blank? ? " " : params[:focus] %>
      <%= form.select :focus, Actionitem.all.pluck(:focus).uniq, {:prompt => default}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :owner %><br>
      <%= form.select :owner, Actionitem.all.pluck(:owner).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :due %><br>
      <%= form.select :due, Actionitem.all.pluck(:due).uniq, {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :priority %><br>
      <%= form.select :priority, ['High', 'Medium', 'Low'], {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
      <%= form.label :status %><br>
      <%= form.select :status, ['Open', 'Review', 'Completed'], {:include_blank => true}, :class => "form-control" %>
    </div>
    <div class="col">
    <%= form.submit 'Filter', :class => 'btn btn-primary form-control' %>
    </div>
    <div class="col">
      <%= pie_chart Actionitem.group(:status).count, colors: ["#FF0000", "#00B431", "#FFF000"], id: "status-chart", width: "200px", height: "200px", legend: false, library: {title: {display: true, text: "Status Chart"}} %>
        <br>
    </div>
      <%= link_to 'New Action Item', new_actionitem_path, class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
</div>

</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Created</th>
      <th scope="col">Focus</th>
      <th scope="col">Description</th>
      <th scope="col">Owner</th>
      <th scope="col">Due</th>
      <th scope="col">Resources</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Updates</th>
      <th scope="col">Completion</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody>
  <% @actionitems.each do |actionitem| %>
    
    <tr data-link="<%= actionitem_path(actionitem) %>" style="cursor:pointer;">
      <td><%= actionitem.id %></td>
      <td><%= actionitem.created_at.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d") %></td>
      <td><%= actionitem.focus %></td>
      <td>
        <%= actionitem.description %>
        <%= actionitem.comments.any? ? fa_icon("comment-o") : "" %>
        <%= actionitem.comments.any? ? "#{actionitem.comments.count}" : "" %>
      </td>
      <td><%= actionitem.owner %></td>
      <td><%= "#{actionitem.due.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d")}   " %><%= actionitem.due < Date.today() && actionitem.status != "Completed" ? fa_icon("flag", style: 'color:#ff4800;') : "" %></td>
      <td><%= actionitem.resources %></td>
      <td class="<% if actionitem.priority == 'High' %>
                  <%= 'btn btn-danger btn-block' %>
                 <% elsif actionitem.priority == 'Medium' %>
                  <%= 'btn btn-warning btn-block' %>
                 <% else %>
                  <%= 'btn btn-success btn-block' %>
                 <% end %>"><%= actionitem.priority %></td>
      <td><%= actionitem.status %></td>
      <td><%= actionitem.updates %></td>
      <td><%= !actionitem.completion.nil? ? actionitem.completion.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d") : ""  %></td>
      <td><%= actionitem.updated_at.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d") %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= paginate @actionitems %>
