<h1>New Action</h1>

<%= form_with(model: @actionitem, local: true) do |form| %>
  
  <% if @actionitem.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@actionitem.errors.count, "error") %>
        prohibited this action item from being saved:
      </h2>
      <ul>
        <% @actionitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<div class="container">
  <p>
    <div class="form-group">
      <%= form.label :focus %><br>
      <%= form.text_field :focus, :class => "form-control" %>
    </div>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :owner %><br>
    <%= form.text_field :owner, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :due %><br>
    <%= select_date Date.today, prefix: :due %>
  </p>

  <p>
    <%= form.label :resources %><br>
    <%= form.text_area :resources, :class => "form-control" %>
  </p>

  <p>
    <%= form.label :urgency %><br>
    <%= form.select :urgency, ['Urgent', 'Not Urgent'], :class => "form-control" %>
  </p>

  <p>
    <%= form.label :importance %><br>
    <%= form.select :importance, ['Important', 'Not Important'], :class => "form-control" %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <% end %>
</div>

<%= link_to 'Back', actionitems_path %> 