<div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Created on:</th>
      <th scope="col">Focus</th>
      <th scope="col">Description</th>
      <th scope="col">Owner</th>
      <th scope="col">Due</th>
      <th scope="col">Resources</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Updates</th>
      <th scope="col">Completion</th>
      <th scope="col">Updated on:</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @actionitem.id %></td>
      <td><%= @actionitem.created_at.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d") %></td>
      <td><%= @actionitem.focus %></td>
      <td><%= @actionitem.description %></td>
      <td><%= @actionitem.owner %></td>
      <td><%= @actionitem.due.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d")%></td>
      <td><%= @actionitem.resources %></td>
      <td><%= "priority" %></td>
      <td><%= @actionitem.status %></td>
      <td><%= @actionitem.updates %></td>
      <td><%= !@actionitem.completion.nil? ? @actionitem.completion.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d") : "" %></td>
      <td><%= @actionitem.updated_at.in_time_zone('Central Time (US & Canada)').strftime("%-m/%-d") %></td>
      <td><%= link_to fa_icon("pencil 2x"), edit_actionitem_path(@actionitem), style: 'color:#00cc44;' %></td>
      <td><%= link_to fa_icon("trash 2x"), actionitem_path(@actionitem), method: :delete, style: 'color:#ff4800;', data: { confirm: 'Are you sure?' } %>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
<h2>Comments</h2>

<%= render @actionitem.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', actionitems_path %>
</div>
